{% trans_default_domain 'sfs_media_admin' %}

<div class="container-fluid">
    <div class="row">
    {% for media in entities %}
        <div class="col-3">
            <div class="card text-center mb-3">
                {% if is_granted('ROLE_SFS_MEDIA_ADMIN_MEDIAS_DETAILS', media) %}
                    <a href="{{ url('sfs_media_admin_medias_read', {'media':media.id}) }}" class="ml-2 text-nowrap text-dark">
                {% endif %}
                        {% if media.isVideo %}
                            <div style="height:200px" class="bg-dark text-center row p-0 m-0 w-100">
                                <div class="bi bi-play-btn h1 my-auto text-white"></div>
                            </div>
                        {% elseif media.isImage %}
                            <div style="min-height:200px; max-height: 200px; width: auto; display: flex; align-items: center;" class="card-img-top bg-light overflow-hidden">
                                {{ media|sfs_media_render_image(['_thumbnail'], {'class':'img-fluid w-auto mx-auto', 'style':' max-height: 200px;'}) }}
                            </div>
                        {% endif %}
                        <p class="card-title mb-0"><small><strong>{{ media.name }}</strong></small></p>
                        <span class="small">
                            {{ media_types[media.type].name }}

                            {% if media.isVideo %}
                                {# nothing yet #}
                            {% elseif media.isImage %}
                                {{ media.version('_original').width }}x{{ media.version('_original').height }}
                            {% endif %}
                        </span>
                {% if is_granted('ROLE_SFS_MEDIA_ADMIN_MEDIAS_DETAILS', media) %}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
