{% trans_default_domain 'sfs_media_admin' %}
{% extends '@SfsMedia/admin_layout.html.twig' %}
{% block title %}{{ 'admin_medias.list.meta.title'|trans }}{% endblock %}

{% form_theme filterForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="content">{{ 'admin_medias.list.breadcrumb'|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    {% if media_types is empty %}
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h1 class="h3">{{ 'admin_medias.list.title'|trans }}</h1>
        </div>
        <div class="container-fluid bg-white p-4">
            <div class="p-5 m-5">
                <p class="text-center text-muted">
                    No media types are configured.
                    <br/>
                    <br/>
                    Check how to configure media types at <a href="https://github.com/softspring/media-bundle" target="_blank">documentation</a>
                </p>
            </div>
        </div>
    {% else %}
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h1 class="h3">{{ 'admin_medias.list.title'|trans }}</h1>

            <div class="float-end">
                {% if is_granted('PERMISSION_SFS_MEDIA_ADMIN_MEDIAS_CREATE') and media_types|length %}
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownCreateMedia" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'admin_medias.list.actions.create.link'|trans }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownCreateMedia">
                            {% for key,type in media_types %}
                                <li><a href="{{ url('sfs_media_admin_medias_create', {'type':key}) }}" class="dropdown-item">{{ type.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if filterForm.vars.submitted or entities|length %}
            <div class="mb-4">
                {{ form_start(filterForm) }}
                <div class="row">
                    {% if filterForm.name is defined %}<div class="col">{{ form_row(filterForm.name, {'row_class':'form-floating'}) }}</div>{% endif %}
                    {% if filterForm.type is defined %}<div class="col">{{ form_row(filterForm.type, {'row_class':'form-floating'}) }}</div>{% endif %}

                    <div class="col">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                    </div>
                </div>
                {{ form_widget(filterForm) }}
                {{ form_rest(filterForm) }}
                {{ form_end(filterForm) }}
            </div>
        {% endif %}

        {% if entities|length %}
            {% include '@SfsMedia/admin/media/list-page.html.twig' %}
            {% include '@SfsComponents/paginator/pager.html.twig' with {'collection': entities} %}
        {% else %}
            <div class="p-5 m-5">
                <p class="text-center text-muted">
                    Upload first media
                </p>
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}