{% trans_default_domain 'sfs_media_admin' %}

<div class="container-fluid">
    <div class="row">
    {% for media in entities %}
        <div class="col-3">
            <div class="card text-center">
                {% if is_granted('ROLE_SFS_MEDIA_ADMIN_MEDIAS_DETAILS', media) %}
                    <a href="{{ url('sfs_media_admin_medias_read', {'media':media.id}) }}" class="ml-2 text-nowrap text-dark">
                {% endif %}
                    {{ media|sfs_media_render_media(['_thumbnail'], {'class':'card-img-top img-thumbnail'}) }}
                {% if is_granted('ROLE_SFS_MEDIA_ADMIN_MEDIAS_DETAILS', media) %}
                        <p class="card-title mb-0"><small><strong>{{ media.name }}</strong></small></p>
                        <span class="small">
                            {{ media_types[media.type].name }}
                            {{ media.version('_original').width }}x{{ media.version('_original').height }}
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
